.hovereffect {
 width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hovereffect img {
}
.hovereffect label {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
